
.icon-brush-alt:before { content: '\e800'; } /* '' */
.icon-picture:before { content: '\e801'; } /* '' */
.icon-adult:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-pinterest-circled:before { content: '\f313'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */